.navbar{

    height:70px;

    background:#111827;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #2d3748;
}

.navbar-left{

    display:flex;

    align-items:center;

    gap:20px;
}

.menu-btn{

    background:none;

    border:none;

    color:white;

    font-size:26px;

    cursor:pointer;
}

.navbar-right{

    display:flex;

    gap:15px;
}

.nav-btn{

    width:42px;

    height:42px;

    border:none;

    border-radius:50%;

    background:#1f2937;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.nav-btn:hover{

    background:#374151;
}